.w-full {
  width: 100%;
}

.w-screen {
  width: 100vh;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-flex{
  display: inline-flex;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}
